build:gcc --host_platform=//bazel/compiler:host_gcc
build:clang --host_platform=//bazel/compiler:host_clang
build:system-gcc --host_platform=//bazel/compiler:host_system_gcc
build:system-clang --host_platform=//bazel/compiler:host_system_clang
build:system-msvc --host_platform=//bazel/compiler:host_system_msvc

build:asan --copt=-fsanitize=address --linkopt=-fsanitize=address
build:ubsan --copt=-fsanitize=undefined --linkopt=-fsanitize=undefined
build:san --config=asan --config=ubsan

build --verbose_failures

# Include external headers with -isystem to suppress warnings.
build --features=external_include_paths --host_features=external_include_paths
