[submodule "boilerplate"]
	path = boilerplate
	url = git@github.com:3541/boilerplate.git
[submodule "extern/highwayhash/highwayhash"]
	path = extern/highwayhash/highwayhash
	url = ../../google/highwayhash.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = ../../google/googletest.git
